:root {
    --base-width: 1440;
}

* {
    box-sizing: border-box;
}

body {
    background: #eafafc;
    margin: 0;
    font-family: "inter", sans-serif;
}



.header {
    position: sticky;
    top: 0;
    z-index: 1000;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 50px;
    background-color: #fff;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.logo {
    font-size: 24px;
    font-weight: bold;
    color: #000;
    display: flex;
    align-items: center;
}

.logo-text {
    margin-left: 8px;
}

.logo-image {
    margin-top: 6px;
}

.blue-z {
    color: #2752E7;
    ;
}

.nav-links a {
    margin: 0 15px;
    text-decoration: none;
    color: #333;
    font-size: 16px;
}

.nav-links a:hover,
.sign-in:hover {
    color: #1a73e8;
}

.auth-buttons a {
    text-decoration: none;
    margin-left: 15px;
}

.sign-in {
    color: #333;
    font-size: 16px;
}

.get-started {
    background-color: #2752E7;
    color: #fff;
    padding: 8px 16px;
    border-radius: 5px;
    font-size: 16px;
}

.get-started:hover {
    background-color: #2a3c7e;
}


/* Mobile Menu */
.mobile-menu {
    display: none;
    flex-direction: column;
    cursor: pointer;
}

.mobile-menu span {
    width: 25px;
    height: 3px;
    background: #333;
    margin: 3px 0;
    transition: 0.3s;
}



.hero {
    position: relative;
    font-family: Arial, sans-serif;
    background: linear-gradient(135deg, #2752E7, #0B2271);
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #fff;
}

.container {
    z-index: 1;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 85vw;
}

.content {
    flex-direction: column;
    width: 45vw;
    text-align: center;
}

.content h1 {
    font-size: 2em;
    margin: 0 0 10px;
    line-height: 1.2;
}

.content p {
    font-size: 1.1em;
    margin: 0 0 20px;
    color: #ddd;
}

.content .email-input {
    width: 50%;
    padding: 10px;
    border: none;
    border-radius: 10px;
    font-size: 1em;
}

.content .get-started {
    padding: 10px 20px;
    border: none;
    border-radius: 10px;
    color: #fff;
    font-size: 1em;
    cursor: pointer;
}

.blur-bit,
.blur-eth {
    position: absolute;
}

.blur-bit {
    transform: translate(-70%, -170%);
}

.blur-eth {
    transform: translate(-350%, 50%);
}

.converter {
    width: 35vw;
    background: rgba(255, 255, 255, 0.1);
    padding: 20px;
    border-radius: 20px;
    backdrop-filter: blur(3px);
}

.converter h2 {
    font-size: 1.5em;
    margin: 0 0 15px;
}

.converter .input-group,
.date {
    margin-bottom: 15px;
    background: #fff;
    padding: 5px;
    border-radius: 5px;
}

.converter .input-group select {
    margin-right: 10px;
    border-color: #fff;
}

.converter .input-group input {
    border: none;
    font-weight: bold;
}


.converter .date input {
    width: 110px;
    border: none;

}

.partner-bar {
    flex-wrap: wrap;
    margin-top: 15px;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.partner-bar .brand {
    margin: 8px;
    transform: scale(0.8);
}


.stats-section {
    margin-left: auto;
    margin-right: auto;
    margin-top: 30px;
    width: 90vw;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    padding: 10px;
    border: 1px solid rgb(233, 233, 240);
    border-radius: 20px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.stats-section .line {
    height: 60px;
    width: 1px;
    background: #c1c3c5;
}

.stat-item {
    margin: 2px;
    text-align: center;
    padding: 0 15px;
}

.stat-item:last-child {
    border-right: none;
}

.stat-item .number {
    font-size: 2em;
    color: #1c2932;
    margin-bottom: 5px;
    font-weight: bold;
}

.stat-item .label {
    font-size: 0.9em;
    color: #7f8c8d;
}

.trusted {
    margin-top: 10px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.textcontent {
    padding: 20px;
    align-self: center;
}

.textcontent h1 {
    color: #11254b;
    font-size: 2em;
    margin-bottom: 10px;
}

.textcontent ul {
    list-style: none;
    padding: 0;
}

.textcontent li {
    display: flex;
    margin-bottom: 10px;
}

.textcontent li span {
    color: #99c2ff;
    font-size: 1.5em;
    margin-right: 10px;
}

.textcontent h2 {
    color: #11254b;
    font-size: 1.5em;
    margin: 0 0 10px 0;
}

.textcontent p {
    color: #666;
    font-size: 0.9em;
    line-height: 1.5;
}


.phone {
    width: 47vw;
    height: auto;
}


.starting {
    background-color: #e6f0fa;
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

.started {
    display: flex;
    flex-direction: column;
    padding: 50px 50px;
    text-align: center;
}

.cards-top {
    margin-bottom: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1vw;
}

.cards-top .right {
    gap: 1vw;
}

.card {
    border-radius: 10px;
    padding: 20px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    text-align: left;
    color: #fff;
    display: flex;
    gap: 10px;
    align-items: center;
}


.card p {
    font-size: 0.9em;
    line-height: 1.4;
}

.card.blue {
    background-color: #091951;
    flex-direction: column;
}

.card.yellow {
    background-color: #F3DE95;
    color: #0b0909;

}


.card.pink {
    background-color: #F395D9;
}


.cards-top .text {
    padding: 10px;
}

.head-text {
    margin-bottom: 30px;
}

.get-start h1 {
    font-size: 2.3em;
    color: #050E2C;
}

.get-start p {
    font-size: 1em;
    color: #7f8c8d;
}

.cards-bottom {
    display: flex;
    justify-content: space-around;
    gap: 10px;
}

.card-bottom {
    min-width: 180px;
    background-color: #fff;
    border-radius: 10px;
    padding: 20px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    text-align: center;
}

.card-bottom img {
    width: 70px;
    margin-bottom: 10px;
}

.card-bottom h3 {
    font-size: 1.2em;
    color: #2c3e50;
    margin-bottom: 10px;
}

.card-bottom p {
    font-size: 0.9em;
    color: #7f8c8d;
}

.cards-top .right {
    display: flex;
    flex-direction: column;
}

.wrapper {
    font-family: 'Segoe UI', sans-serif;
    padding: 30px;
    display: flex;
    justify-content: center;
    margin-bottom: 30px;
}

.testimonials-section {
    text-align: center;
    margin: auto;


}

.testimonials-section h2 {
    font-size: 2.5rem;
    margin-bottom: 30px;
    font-weight: 700;
}

.testimonials-grid {
    columns: 4;
    column-gap: 15px;
    width: 100%;
}

.grid-container {
    height: 60vh;
    overflow-y: auto;
}

.testimonial-card {
    background: white;
    padding: 8px;
    border: 1px solid rgb(211, 211, 222);
    border-radius: 12px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.05);
    transition: transform 0.3s ease;
    width: 100%;
    break-inside: avoid;
    margin-bottom: 15px;
    overflow-y: auto;

}

.testimonial-card:hover {
    transform: translateY(-5px);
}

.user-info {
    display: flex;
    align-items: center;
    margin-bottom: 15px;
}

.avatar {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    margin-right: 15px;
}

.user-info h4 {
    font-size: 1rem;
    margin-bottom: 5px;
}

.user-info .title {
    font-size: 0.85rem;
    color: gray;
}

.message {
    font-size: 0.95rem;
    line-height: 1.5;
    color: #333;
}

.banner {
    background: #2752E7;
    border-radius: 10px;
    padding: 30px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
    color: #fff;
    margin-bottom: 20px;
}


.btc,
.eth,
.lun {
    position: absolute;
}

.btc {
    transform: translate(-180px, -150px);
    width: 110px;
}

.lun {
    transform: translate(-230px, -20px);
    width: 90px;
}

.eth {
    transform: translate(-100px, -60px);
    width: 100px;
}

.banner-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    z-index: 1;
}

.banner-content h1 {
    font-size: 2em;
    line-height: 1.2;
}

.banner-content button {
    background-color: #fff;
    border: none;
    padding: 10px 20px;
    border-radius: 10px;
    font-size: 1em;
    font-weight: bold;
    cursor: pointer;
    color: #2c3e50;
    margin-top: 10px;
    align-self: flex-start;
}

.banner-content button:hover {
    background-color: #6a749a;
}


.footer {
    background-color: #2752E7;
    padding: 40px 50px;
    color: #fff;
    border-radius: 10px;
}

.footer-content {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    flex-wrap: wrap;
    gap: 20px;
}

.footer-column {
    flex: 1;
    min-width: 150px;
}

.footer-column h3 {
    font-size: 1.2em;
    margin-bottom: 15px;
}

.footer-column ul {
    list-style: none;
    padding: 0;
}

.footer-column ul li {
    margin-bottom: 10px;
}

.footer-column ul li a {
    color: #fff;
    text-decoration: none;
}

.footer-column ul li a:hover {
    text-decoration: underline;
}

.footer-bottom {
    text-align: center;
    margin-top: 30px;
    border-top: 1px solid rgba(255, 255, 255, 0.2);
    padding-top: 20px;
}

.footer-bottom p {
    margin: 5px 0;
    font-size: 0.9em;
    color: #bdc3c7;
}

.footer-bottom .some-text {
    font-size: 1.2em;
    color: white;
    font-weight: bold;
}

.footer-bottom .logo {
    font-size: 1.5em;
    margin-bottom: 10px;
    color: white;
    justify-self: center;
}

.footer-bottom img {
    filter: invert();
}


/* Responsive Design */

@media(max-width: 1060px) {
    .card.blue {
        flex-direction: row;
    }

    .cards-top {
        flex-direction: column;
    }

    .card {
        width: 85vw;
    }


    .testimonials-grid {
        column-count: 3;
    }


    .banner .crypto-icons {
        display: none;
    }

}


@media (max-width: 800px) {

    .mobile-menu {
        display: flex;
    }

    .auth-buttons,
    .nav-links {
        z-index: 2;
        display: none;
        flex-direction: column;
        position: absolute;
        left: 0;
        right: 0;
        background: rgb(255, 255, 255);
        padding: 1rem;
        gap: 10px;
        box-shadow: #121c23;
        max-width: 60%;
        overflow-y: auto;
    }

    .nav-links {
        top: 100%;
    }

    .auth-buttons {
        top: calc(100% + 120px);
    }

    .floating-icons {
        display: none;
    }

    /*hero mobile*/
    .container {
        flex-direction: column;
        align-items: center;
        gap: 40px;
        margin-top: 10vh;
        margin-bottom: 10vh;
        width: 90vw;
        max-width: 500px;
    }

    .hero {
        height: auto;
    }

    .content {
        display: flex;
        gap: 15px;
    }

    .content,
    .converter,
    .content .email-input {
        width: 100%;
    }

    .content .email-input,
    .content .get-started {
        padding: 20px;
    }

    .trusted {
        flex-direction: column-reverse;
    }

    .phone {
        width: 95vw;
        height: auto;
    }

    .card.blue {
        flex-direction: column;
    }

    .card.blue img {
        width: 75vw;
        height: auto;
    }


    .testimonials-grid {
        columns: 2;
        overflow-x: auto;
        height: 40vh;
    }

    .grid-container {
        overflow-y: hidden;
        height: auto;
    }

}



@media (max-width: 650px) {

    .stats-section {
        flex-direction: column;
        align-items: center;
        width: 75vw;
        gap: 15px;
    }

    .stats-section .line {
        height: 1px;
        width: 100px;
        background: #c1c3c5;
    }

    .textcontent h1 {
        text-align: center;
    }

    .card.yellow,
    .card.pink {
        flex-direction: column;
    }

    .card.yellow img,
    .card.pink img {
        width: 75vw !important;
    }

    .cards-bottom {
        flex-direction: column;
    }

    .testimonials-grid {
        columns: 1;
    }



    .banner-content button {
        width: 80vw;
        padding: 20px;
        align-self: center;
    }

    .banner-content {
        text-align: center;
    }

    .footer-content {
        text-align: center;
    }
}